.a .author {
    font-family: Lucida Console, Monaco, monospace;
    text-decoration: none !important;
}

.description {
    font-family: Lucida Console, Monaco, monospace;
    margin-bottom: 32px;
}

:hover {
    color: #34495e;
}
