.author  {
    font-family: Consolas, Courier New, monospace;
}

.author, a:link {
    text-decoration: none;
}

.description {
    font-family: Consolas, Courier New, monospace;
    margin-bottom: 32px;
}

:hover {
    color: #34495e;
}
