.author  {
    font-family: Courier New, Courier, monospace;
}

 a:link {
    text-decoration: none;
}

.description {
    font-family: Courier New, Courier, monospace;
    margin-bottom: 32px;
}

a:hover {
    color: #34495e;
}
